<ion-content >
    <ion-card color="primary" class="loginForm" *ngIf="!isLoading">
            <form #f="ngForm" (ngSubmit)="onLogin(f.value)">
                <ion-row>
                    <ion-col>
                      <ion-list inset>
                <ion-item  >
                    <ion-label position="floating">Entrez votre login </ion-label>
                    <ion-input type="text"  color="light"   name="username" ngModel></ion-input>
                
                </ion-item>
                <ion-item  >
                    <ion-label position="floating">Entrez votre mot de passe</ion-label>
                    <ion-input  color="light" type="password"  name="password" ngModel></ion-input>
              
                </ion-item>
                
                <ion-item lines="none" color="primary" >
                    <ion-button color="light" class="ion-float-right" fill="clear" slot="end">Mot de passe oublié</ion-button>
                </ion-item>
               
            </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
                <ion-button type="submit" expand="block" color="light" class="btnLogin">Se connecter</ion-button>
                <ion-button type="submit" expand="block" color="light" [routerLink]="['/choixprofil']"  class="btnLogin">Inscription</ion-button>
            </ion-col>
        </ion-row>
            </form>
    </ion-card>

</ion-content>