.btnLogin {
    margin-top: 3vh;
}

.loginForm {
    margin-top: 20vh;
}

.loading {
    margin-top: 35vh;
}
ion-content {
    --background: url('/assets/img/img2.jpg') no-repeat center center / cover,100%,100%;
  }
  #jolia {
    margin-top: 130%;
  }
