<ion-app>
    <ion-menu type="overlay" contentId="content" *ngIf="authService.authenticate">
        <ion-header>
            <ion-toolbar>
                <ion-title>Menu</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>
                <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
                    <ion-item (click)="onMenuItem(p)">
                        <ion-icon color="light" slot="start" [name]="p.icon"></ion-icon>
                        <ion-label font-weight="bold" color="light" >{{p.title}}</ion-label>
                    </ion-item>
                </ion-menu-toggle>
            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-router-outlet id="content"></ion-router-outlet>
</ion-app>