<ion-header>
  <ion-toolbar>
    <ion-title><H1>Choix du profil<H1/></ion-title>
    <ion-title><H3>C'est rapide et facie.<H3/></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-header>
    <ion-button type="submit" expand="block" fill="outline" onclick="" class="addcandidat">S'inscrir</ion-button>
    <ion-button type="submit" expand="block" fill="outline" onclick="" class="addannonceur">S'inscrir</ion-button>
  </ion-header>
  <ion-footer>
    <p>
      En continuant, vous acceptez les conditions d'utilisation et la politique de confidentialité de Ujob
    <p/>
</ion-content>
