 .welcome-card img {
  max-height: 35vh;
  overflow: hidden;
} 
/* ion-content {
  --background: #fff url('/assets/img/img0.jpg') no-repeat center center / cover;
} */
#jolia {
  margin-top: 130%;
}
ion-item{
  --ion-background-color: transparent!important;
}
ion-content{
  --ion-background-color: #7ce7f3e1;
}